<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Node/Express & SQL Solo Assessment</title>
    <script src="vendors/jquery-1.12.3.js" charset="utf-8"></script>
    <script src="scripts/script.js" charset="utf-8"></script>
    <link rel="stylesheet" href="vendors/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="css/style.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div class="jumbotron">Bethany's Zoo</div>
    <div class="row">
      <div class="col-md-6">
        <p id="displayZoo">Current Zoo Residents</p>
        <div id="outputDiv"></div>
      </div>
      <div class="col-md-6">
        <input type="text" id="animal" placeholder="Enter animal type"></input>
        <button type="button" id="add">Add Animal</button><br><br><br>
        <button type="button" id="getZoo">See Updated Zoo</button>
      </div>
    </div>
  </body>
</html>
